@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    padding : 20px;
}

.brand_menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 40px);
    grid-gap: 0;
    width : 50em;
    margin: 0 auto;
    text-align: center;
}

.menu_cate{
    font-size: 15px;
    border : solid 0.5px gray;
    line-height: middle;
    padding-top : 8px
}