@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');

body {
    padding : 2;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5em;
}

.container {  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px minmax(800px, auto);
    grid-gap: 3em 20px;
    justify-content: center;
    width : 80em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.item:nth-child(2) {
    grid-column: 2 / span 3;
    grid-row: 1;
}

.item:nth-child(3) {
    grid-column: 5;
    grid-row: 1;
}

.item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    border-right: solid gray 1px;
    padding: 1em;
    justify-content: center;
}

.item:nth-child(5) {
    grid-column: 2 / span 4;
    grid-row: 2;
    padding : 2em;
}

.header {
    text-align: center;
    padding : 1em;
}

.logo{
    padding: 0;
}

.nav div{
    display:inline-block;
}

.nav .nav-link {
    color: #000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 3em;
}

.nav .active > .nav-link {
    width:100%;
    height:51px;
    border-bottom: .50rem solid transparent;
    border-bottom-color: #5e5aa4;
}

.navbtn:hover > .nav-link{
    width:100%;
    border-bottom: .50rem solid transparent;
    border-bottom-color: #afadd2;
}

.info{
    text-align: right;
}

.func {
    width : 120px;
    height: 120px;
    margin : 10px;
    float: right;
}

.sidebarbtn {
    max-width: inherit;
    height : inherit;
    border: solid #5e5aa4;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
}

.sidebarbtn.on {
    background-color:silver;
    color: #5e5aa4;
}
.sidebarbtn i {
  padding: 20%;
  font-size: 40px;
}

/*gift_send 검색창*/
.searcharea {
    text-align: center;
    margin-bottom: 5em;
}

.search {
    width: 25em;
    height : 2em;
    font-size: 20px;
    border : solid #5e5aa4;
    margin-right: 1em;
}

.searchbtn {
    color: #ffffff;
    background-color: #afadd2;
    border-radius: 20px;
    border: none;
    padding : 1em;
    display: inline-block;
    font-size: 17px;
    text-align: center;
}

.searchbtn:hover {
    background-color: #5e5aa4;
    cursor: pointer;
}

/* Style the tab */
.tab {
    width:auto;
    height:auto;
    overflow:hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border : solid gray 1px;
    border-radius : 0 10px 0 0;
    font-size: large;
    font-weight: bold;
    width : 200px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background: #afadd2 ;
    font-style: italic;
}
  
#tab_on {
    background :  #5e5aa4;
    color: white;
}

.category {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 40px);
}

.item:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.item:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.item:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

.item:nth-child(4) {
    grid-row: 2;
    grid-column: 1;
}

.item:nth-child(5) {
    grid-row: 2;
    grid-column: 2;
}

.item:nth-child(6) {
    grid-row: 2;
    grid-column: 3;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.card {
    border: #5e5aa4 solid 2px;
    border-radius: 3px;
    width : 520px;
}

.product_layout_right{
    width: auto;
}

.product_img {
    
    width : 300px;
    height: 300px;
    padding : 2%;
    text-align: left;
}

.product_img img{
    display: block;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin : 5% auto;
}

.product_info {
    padding: 5px;
}

.product_name {
    font-size: 30px;
    padding : 5px;
}

.product_detail{
    font-size: 15px;
    padding : 5px;
}

.gift_info{
    background-color: #afadd2;
    padding: 3%;
    margin:2%;
    font-size:20px;
    font-family: arial;
}

.gift_detail{
    text-align: left;
}

.gift_attr{
    font-family: arial black;
    padding: 3px;
    text-align: center;
}

.gift_value{
    font-family: arial ;
    padding: 3px;
    text-align: left;

}

.product_price{
    padding:3%;
    padding-top:1%;
    padding-bottom:1%;
    margin: 2%;
    font-size: 25px;
    width: 500px;
}

.product_detail{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0;
    padding-bottom: 0;
    width: 500px;
    margin: 2%; 
}

.product_buybtn{
    margin:2%;  
    width : 180px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    border-radius: 20px;
    background-color: #5e5aa4;
    cursor: pointer;
}

#pop{
    display: none;
    padding: 3%;
    width: 400px;
    height: 100px;
    background-color: #3d3d3d;
    color:#fff;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align:center;
    border:2px solid #000;
}

#close{
    margin:5%;
    width:100px;
    height:50px;
    margin:auto;
    background-color: transparent;
    border:transparent;
    font-size: 20px;
    color:white;
}
