@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');

body {
    padding: 2%;
}

.category {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 40px);
}

.item:nth-child(1) {
    border: solid 1px gray;
    grid-row: 1;
    grid-column: 1;
}

.item:nth-child(2) {
    border: solid 1px gray;
    grid-row: 1;
    grid-column: 2;
}

.item:nth-child(3) {
    border: solid 1px gray;
    grid-row: 1;
    grid-column: 3;
}

.item:nth-child(4) {
    border: solid 1px gray;
    grid-row: 2;
    grid-column: 1;
}

.item:nth-child(5) {
    border: solid 1px gray;
    grid-row: 2;
    grid-column: 2;
}

.item:nth-child(6) {
    border: solid 1px gray;
    grid-row: 2;
    grid-column: 3;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.item {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.item a {
    display: block;
    width : 100%;
    height : 100%;
    text-decoration: none;
    color: black;
}

.item:hover{
    background-color: #afadd2;
}

.rank {
    padding : 2%;
}

.rank_no {
    font-size: 30px;
    font-weight: bold;
}

.product_img {
    width : 400px;
    height: 400px;
    padding : 2%;
}

.product_img img{
    display: block;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin : 5% auto;
}

.product_info {
    padding: 5px;
}

.product_name {
    font-size: 30px;
    padding : 5px;
}

.product_detail{
    font-size: 15px;
    padding : 5px;
}