@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,300;0,500;0,800;1,300;1,500&family=Source+Sans+Pro:wght@300;400&family=Sriracha&display=swap');

/*전체 크기*/
body {
    padding : 2;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5em;
}

/*위쪽 바*/
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px minmax(800px, auto);
    grid-gap: 3em 20px;
    justify-content: center;
    width : 80em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.item:nth-child(2) {
    grid-column: 2 / span 3;
    grid-row: 1;
}

.item:nth-child(3) {
    grid-column: 5;
    grid-row: 1;
}

.item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    border-right: solid gray 1px;
    padding: 1em;
    justify-content: center;
}

.item:nth-child(5) {
    grid-column: 2 / span 4;
    grid-row: 2;
    padding : 2em;
    
}

.header {
    text-align: center;
    padding : 1em;
}

.logo{
    padding: 0;
}

.nav div {
    display: inline-block;
    margin : 0%;
    padding : 0%;
    height : 20px;
}

.nav .nav-link {
    color: #000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 3em;
}

.nav .active > .nav-link {
    width:100%;
    height:51px;
    border-bottom: .50rem solid transparent;
    border-bottom-color: #5e5aa4;
}

.navbtn:hover > .nav-link{
    width:100%;
    border-bottom: .50rem solid transparent;
    border-bottom-color: #afadd2;
}

.info{
    text-align: right;
}

.sidebarbtn {
    width : 120px;
    height: 120px;
    margin : 10px;
    float: right;
}

.sidebarbtn.on {
    background-color:silver;
    color: #5e5aa4;
}

/*컨텐츠*/
.under {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: auto auto;
    min-height: 1000px;
   }
 
.sidebar {
    float: left;
    border-right : solid;
    
    padding : 5%;
}

.sidebarbtn {
    width : 120px;
    height: 120px;
    margin : 10px;
    float: right;
    max-width: inherit;
    height : inherit;
    border: solid #5e5aa4;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    padding:5%;
}

.sidebarbtn svg {
    padding: 20%;
    font-size: 40px;
  }



.detail {
    border: NONE;
    margin : 2%;
    padding : 0%;
    align-content: center;
}


.contentp {
    background-color: dimgray;
    max-width: 500px;
    text-align: center;
    margin: 0%;
}






/*User 프로필*/
.userprofile{
    margin: 2%;
    padding : 1%;
    float : left;
    border: solid 1px #afadd2;
    border-radius: 5px;
    width : 200px;
    height: 200px;
    text-align: center;
}


.userprofile img{
    position: relative;
    border: solid gray 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    height: 100PX;
    width: 100PX;
    margin: 5%;
}

/*빈 마니또 프로필*/
.userprofile empty{
    padding : 1%;
    margin: 2%;
    float : left;
    background-color: #afadd2;
    width : 30%;
    height : 40%;
    text-align: center;
}

.userprofile empty svg{ 
    position: relative;
    border: solid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100PX;
    width: 100PX;
    margin: 5%;
}

/*화살표*/
.guessingarrowwrapper{
    margin: 2%;
    float : left;
    width : 25%;
    height : 40%;
    text-align: center;
    
}
.guessingarrowwrapper svg{
    vertical-align: middle;
    color:  #5e5aa4;
}

/*마니또 선택 설명란*/
#guessdescription{
    font-family: "Source Sans Pro",sans-serif;
    margin: 20px;
    width: 700px;
    padding: 3%;
    position: relative;
    line-height: 20px;
    font-size: large;
    border-radius: 20px;
}

.emph{
    color: royalblue;
    font-weight: bold;
}

/*마니또 추측도 + 마니또 선택 설명란*/
.pad{
    width : 90%;
    margin: 3%;
    display: flow-root;
    text-align: center;
    
}

.guessbtn.posi{
    color: #ffffff;
    background-color:#5e5aa4;
    border: none;
    padding : 1em;
    display: inline-block;
    font-size: 17px;
    border-radius: 20px;
    text-align: center;
    width: 10em;
    cursor: pointer;
}

.guessbtn.nega{
    color:gray;
    background-color:gainsboro;
    border: none;
    padding : 1em;
    display: inline-block;
    font-size: 17px;
    border-radius: 20px;
    text-align: center;
    width: 10em;
}


/*guess window*/

.manitomain{
    display: inline;
}

.guesswindow{
    display: none;
}

#guesswindowclose {
    border: none;
    size: 20px;
    background-color: white;
    color: black;
}

.guessprofile {
    margin: 0%;
    background-color: None;
    width : 100%;
    height : 70%;
    text-align: center;
    float: left;
}

.guessprofile img{
    position: relative;
    border: solid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100PX;
    width: 100PX;
    margin: 5%;
}

.guessuserbutton{
    color: #ffffff;
    background-color:  #5e5aa4;
    border: none;
    padding : 1em;
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    text-align: center;
    width: 10em;
    cursor: pointer;
    font-family: "Anton";
    font-size: 30px;
}
.guessuserbutton:hover{
    background-color:#3a3870 ;
}

.pad2{
    font-family: "Montserrat", sans-serif;
    margin: 2%;
    border : solid 1px #afadd2;
    border-radius: 5px;
    width : 200px;
    height : 300px;
    text-align: center;
    float: left;
}


.windowtitle{
    inline-size: inherit;

}

#manitoresult{
    display : none;
}

.resultblock{
    font-family: "Source Sans Pro", sans-serif;
    background-color: #afadd2;  
    margin: 5px;
    padding : 2%;
    border-radius: 30px;
    width: 100%;
    height: 100px;
}



.resultblock_name{
    width: 20%;
    padding:0%;
    display: table-cell;
    border-right:solid; 
    border-right-color:   #ffffff; 
}
.resultblock_name span{
    margin: 2%;
    width: 70%;
    vertical-align: middle; 
    
}

.resultblock_name img{
    margin: 2%;
    width:70px;
    height:70px;
    border-radius: 35px;
    border: solid;
    border-color: black;
    vertical-align: middle;    
}

.resultblock_guess{
    width: 30%;    
    padding-top:0;
    padding-bottom:0;
    display: table-cell;
    border-right:solid; 
    border-right-color:   #ffffff; 
}

.resultblock_guess span{
    padding: 5%;
    vertical-align: middle;
    color: black;
    font-family: impact;
    font-size: 150%;
}

.resultblock_manito{
    width: 30%;
    border-right : solid;
    border-right-color:   #ffffff; 
}

.resultblock_manito span{
    padding: 5%;
    vertical-align: middle;
    color: black;
    font-family: impact;
    font-size: 150%;
}

/* small profile related style*/
.smallprofile{
    background-color: #afadd2;
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
    padding:0%;
    width: 100px;
    
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    text-align: center;
}

.smallprofile img{
    
    vertical-align: middle;
    border :solid;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    margin-right:2px;
}

.smallprofile span{
    vertical-align: middle;
    font-family: arial;
    font-size: 20px;
}



.resultblock_hit{
    display: table-cell;
    text-align: center;
}
.resultblock_hit img{
    vertical-align: middle;
    width: 70px;
    height: 70px;
}


.user_info{
    text-align: left;
    font-size: 16px;
}

#logoutbtn{
    text-align: right;
}

.table_head {
    font-family: "Anton", ;
}